/*  font style link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* common style & utilities */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* header stylsheet */

/* top-container style */
.top-container {
    width: 70%;
    background-color: #161616;
    border-radius: 25px;
    padding: 40px 10% 0;
    padding-bottom: 0;
    margin: 20px auto;
}

.header-box {
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    grid-column-gap: 25px;
}

.banner-image {
    width: 100%;
    height: 85%;
}

.inner-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 100px auto;
}

.inner-box h1 {
    font-weight: 900;
    width: 80%;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
    /* text-transform: uppercase; */
}

.header-link {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #DD0000;
    border: 4px solid #161616;
    border-radius: 10px;
    width: 190px;
    display: grid;
    grid-template-columns: repeat(1, 60% 20%);
    align-items: center;
    justify-items: center;
    justify-content: center;
    transition: background-color, border, 0.5s ease-in;
}

.inner-box a:hover {
    background-color: #161616;
    border: 4px solid #DD0000;
}

/* middle-container style */
.middle-container {
    margin: 100px auto;
    width: 90%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 30px;
    justify-items: center;
    justify-content: end;
}

/* pages style */
.pages-link {
    /* margin: 20px auto; */
    border-radius: 10px;
    height: 25%;
    width: 80%;
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-content: space-evenly;
}

.page-link {
    border-radius: 10px;
    width: 85%;
    background-color: #FFFFFF;
    text-align: center;
}

.page-link a {
    text-decoration: none;
    color: #161616;
}

.page-link:hover,
.page-link:focus {
    background-color: #DD0000;
    transition: background-color 0.5s ease-out;
}

.page-link:hover a,
.page-link:focus a {
    color: #FFFFFF;
    transition: color 0.5s ease 0.2s;
}

.page-link a h4 {
    margin: 20px auto;
}

/* blog style */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.blog-details {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    /* margin: 20px; */
}

.blog-image img {
    width: 100%;
}

.blog-info {
    width: 90%;
    margin: auto 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.blog-catagory {
    border: 1px solid #161616;
    border-radius: 5px;
    width: 100px;
    font-weight: 500;
    text-align: center;
    margin: 10px auto 10px 0;
    padding: 5px 0;
}

.blog-title {
    margin: 10px auto 10px 0;
    width: 90%;
}

.duration-and-comment {
    margin: 10px auto 10px 0;
    color: #161616B2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    justify-items: center;
}

.additional-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

/* view all link style(only for tab device) */
.hidden-link {

    background-color: #DD0000;
    border: 4px solid #FFFFFF;
    border-radius: 10px;
    width: 20%;
    margin: 70px auto;
    display: none;
}

.view-all-link {
    text-decoration: none;
    color: #FFFFFF;
}

.view-all-link h4 {
    margin: 10px auto;
    text-align: center;
}

/* footer style */
.footer-container {
    background-color: #161616;
    height: 440px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-content: space-evenly;
}

.footer-container h2 {
    color: #FFFFFF;
    text-align: center;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 70%;
}

.nav-item-1 {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    padding: 0;
}

.nav-item-1 a {
    text-decoration: none;
    color: #B9B9B9;
}

.nav-item-1 a:hover,
.nav-item-2 a i:hover {
    color: #FFFFFF;
}

.nav-item-2 {
    list-style-type: none;
    padding: 0;
    margin: 0 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.fa-brands {
    color: #B9B9B9;
}

/* ----------
media queries
----------- */

/* mobile device only*/
@media only screen and (max-width:688px) {

    /* top container responsive style */
    .top-container {
        width: 60%;
    }

    .header-box {
        grid-template-columns: repeat(1, 1fr);
        /* grid-column-gap: 25px; */
        justify-content: center;
        justify-items: center;
    }

    .banner-image {
        width: auto;
        height: auto;
    }

    .inner-box {
        justify-items: center;
        margin: 50px auto;
    }

    .inner-box h1,
    .inner-box p {
        text-align: center;
    }

    /* middle container responsive style */
    .middle-container {
        width: 80%;
        margin: 50px auto;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        grid-column-gap: 0;
    }

    /* pages style */
    .pages-link {
        margin: 20px auto;
        height: auto;
        width: 100%;
        background-color: #FFFFFF;
    }

    .page-link {
        border: 1px solid #E8E8E8;
    }

    /* blog style */
    .blogs {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0;
    }

    .blog-details {
        margin: 0px auto;
    }

    /* footer style */
    .nav-item {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        padding: 0;
    }
}

/* tablet device only */
@media only screen and (min-width:689px) and (max-width:992px) {

    /* top-container style */
    .top-container {
        width: 70%;
        padding: 0 10%;
    }

    .header-box {
        grid-template-columns: 40% 70%;
        grid-column-gap: 5px;
    }

    .banner-image {
        width: 100%;
        height: 85%;
    }

    .inner-box {
        margin: 50px auto;
    }

    .inner-box h1 {
        width: 100%;
        font-size: 36px;
    }

    .inner-box p {
        text-overflow: ellipsis;
        overflow: hidden;
        height: 145px;
        width: 144px;
    }

    /* middle-container style */
    .middle-container {
        display: block;
        margin: 0 auto 100px;
    }

    /* pages style */
    .pages-link {
        height: auto;
        width: auto;
        background-color: #FFFFFF;
        margin: 40px auto;
        grid-template-columns: repeat(3, 1fr);
    }

    .page-link {
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        width: 85%;
        background-color: #FFFFFF;
        text-align: center;
    }

    /* blog style */
    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .hidden-blogs {
        display: none;
    }

    /* view all link style(only for tab device) */
    .hidden-link {
        display: block;
    }

    /* footer style */
    .nav-item {
        grid-template-columns: repeat(3, 1fr);
    }
}