/*  font style link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* common style & utilities */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* header stylsheet */

/* top-container style */
.top-container {
    width: 1085px;
    background-color: #161616;
    border-radius: 25px;
    padding: 0 70px;
    padding-bottom: 0;
    margin: 20px auto;
}

.header-box {
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    grid-column-gap: 25px;
}

.banner-image {
    width: 580px;
    height: 610px;
}

.inner-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 100px auto;
}

.inner-box h1 {
    font-weight: 900;
    width: 80%;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
    /* text-transform: uppercase; */
}

.header-link {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #DD0000;
    border: 4px solid #161616;
    border-radius: 10px;
    width: 190px;
    display: grid;
    grid-template-columns: repeat(1, 60% 20%);
    align-items: center;
    justify-items: center;
    justify-content: center;
    transition: background-color, border, 0.5s ease-in;
}

.inner-box a:hover {
    background-color: #161616;
    border: 4px solid #DD0000;
}

/* pages style */
.pages-link {
    /* margin: 20px auto; */
    border-radius: 10px;
    height: 320px;
    width: 320px;
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-content: space-evenly;
}

.page-link {
    border-radius: 10px;
    width: 230px;
    background-color: #FFFFFF;
    text-align: center;
}

.page-link a {
    text-decoration: none;
    color: #161616;
}

.page-link:hover,
.page-link:focus {
    background-color: #DD0000;
    transition: background-color 0.5s ease-out;
}

.page-link:hover a,
.page-link:focus a {
    color: #FFFFFF;
    transition: color 0.5s ease 0.2s;
}

.page-link a h4 {
    margin: 20px auto;
}

/* match style  */
.middle-container {
    margin: 100px auto;
    width: 1140px;
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    grid-column-gap: 20px;
    justify-items: center;
    justify-content: center;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.matches-details {
    width: 280px;
    height: 280px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.match {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.match-opponents-flag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.match div p {
    color: #4D4D4D;
}

/* footer style */
.footer-container {
    background-color: #161616;
    height: 440px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-content: space-evenly;
}

.footer-container h2 {
    color: #FFFFFF;
    text-align: center;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 70%;
}

.nav-item {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
}

.nav-item a {
    text-decoration: none;
    color: #B9B9B9;
}

.nav-item a:hover {
    color: #FFFFFF;
}